/* styles.css */
.my-button1 {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.my-button2 {
    -fx-background-color: orange;
    -fx-text-fill: black;
}

.background {
    -fx-background-color: rgba(57, 233, 239, 0.79);
}